<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File"
            name="f"
            fileName="${basedir}/logs/${level}.txt"
            layout="【${longdate}】 ${uppercase:${level}} ${newline} ${message} ${newline}"
            archiveFileName="${basedir}/logs/${level}.{#}.log"
            archiveAboveSize="1024000"
            archiveNumbering ="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles ="10"
            />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="f" />
    <!--<logger name="*" level="Trace" writeTo="trace_file" />
    <logger name="*" level="Debug" writeTo="debug_file" />
    <logger name="*" level="Info" writeTo="info_file" />
    <logger name="*" level="Warn" writeTo="warn_file" />
    <logger name="*" level="Error" writeTo="error_file" />
    <logger name="*" level="Fatal" writeTo="fatal_file" />-->
  </rules>
</nlog>